
body {
  background-color: #3F2860;
  color: #3F2860;
  font-family: Verdana, Arial, sans-serif;
}

header {
  background-color: #9BC1C2;
  background-image: url(lilyheader.jpg);
  background-repeat: no-repeat;
  background-position: right;
  height: 150px;
}

h1 {
  padding-top: 50px;
  padding-left: 2em;
}

nav {
  text-align: center;
  font-weight: bold;
  padding: 1em;
  background-color: #F5F5F5;
}

nav a {
  text-decoration: none;
}

.studio {
  font-style: italic;
}

footer {
  background-color: #9BC1C2;
  font-size: .60em;
  font-style: italic;
  text-align: center;
  padding: 1em;
}

#wrapper {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: #F5F5F5;
  min-width: 1000px;
  max-width: 1280px;
}

main {
  padding-left: 2em;
  padding-right: 2em;
}

img{
  padding-left: 1em;
  padding-right: 1em;
}

#hero{
  text-align: center;
}
